body {
    background-color: rgba(228, 230, 230, 0.808) !important;
}

.card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.card {
  position: relative;
  background-size: cover;
  color: white;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.card h3, .card p {
  position: relative;
  z-index: 1;
}

.card:hover {
    transition: 1s ease;
    transform: scale(1.02); 
}

nav {
  background: fixed url(../assets/img/S__92192784.jpg) repeat center center;
}

